// フォーム
$cr-form-bd: #000;
$cr-form-bg: #f2f2f2;
$cr-form-bd-active: red;

$cr-radio: #bfbfbf;
$cr-radio-active: red;
$size-radio: 20px;
$size-radio-active: 10px;
$size-radio-pd-left: 24px;

$cr-checkbox: #bfbfbf;
$cr-check-active: red;
$size-checkbox: 20px;
$size-checkbox-active: 10px;
$size-checkbox-pd-left: 24px;


